<div class="wrapper">
    <div class="header_bander">
      <div class="img_banner">
        <img src="assets/logo.jpeg" alt="" >
      </div>
      <div class="timenow">
        <h5  routerLink="../" > ກັບຄືນ </h5>
      </div>
    </div>
  
    <div class="wrappper_table">
    <div class="mytable">
      <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div>
      <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div>
       <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div>
      <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div>
      <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div>  <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div>  <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div>  <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div>  <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div>  <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div>  <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div>  <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div>  <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div>  <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div>  <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div>  <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div>  <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div>  <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div>  <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div>  <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div>  <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div>  <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div>  <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div>  <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div>  <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div>  <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div> <div class="list_table">
          <h4>ໂຕະ 1</h4>
      </div>
    </div>
       
    </div>
  </div>
  